.background-with-dude-taking-note {
    background-image: url("../../assets/2021-08-11\ 11_56_16-https___assets.website-files.com_58344fd37e3fa797242db5f3_5e5d236f7efaf753f50604.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.background-with-people-holding {
    background-image: url("../../assets/5e5d1dd77efaf7950e05dbe3_Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.background-linear-blue-50 {
    background: linear-gradient(to right, rgb(0, 0, 255), rgba(0, 0, 255, 0.5));
}

.background-linear-blue-25 {
    background: linear-gradient(to right, rgb(0, 0, 255), rgba(0, 0, 255, 0.75) 45%, rgba(0, 0, 255, 0.7) 65%,
            rgba(0, 0, 255, 0.5) 95%);
}