* {
    font-family: 'Mona Sans', 'Montserrat', 'URW Gothic';
}

.section-title,
.section-quote {
    font-family: 'Freeserif', 'Avelire';
    color: gray;
}

.section-title {
    letter-spacing: 4px;
}

.section-subtitle {
    font-size: 3rem;
    font-weight: 700;
}