* {
    font-family: 'Mona Sans', 'Montserrat', 'URW Gothic';
}

.section-title {
    font-family: 'Freeserif', 'Avelire';
    color: gray;
    letter-spacing: 4px;
}

.section-subtitle {
    font-size: 2.5rem;
    font-weight: 700;
}